# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider / IDE
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS junk
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables cache (se usar)
[Aa]ssets/[Aa]ddressableAssetsData/*/*.bin*

# JetBrains Rider
Assets/Plugins/Editor/JetBrains*
